<header class="container">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img width="140" height="122" src="static/images/logo.png" alt="logo">
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('index')}}" class="nav-link px-2 link-secondary {% if index %} activate {%endif%}">Home</a></li>
            <li><a href="{{ url_for('courses')}}" class="nav-link px-2 link-dark {% if courses %} activate {%endif%}">Classes</a></li>
            <li><a href="{{ url_for('about')}}" class="nav-link px-2 link-dark {% if about %} activate {%endif%}">About</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <a href="{{ url_for('login')}}" type="button" class="btn btn-outline-primary me-2 {% if login %} activate {%endif%}">Login</a>
            <button type="button" class="btn btn-primary">Register</button>
          </div>
        </header>
      </div>

   </header>




