<!-- <section class="container">
    
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img class="bd-placeholder-img" width="100%" height="100%" src="static/images/promo.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>

        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="static/images/prom.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="static/images/pro.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></img>

        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section> -->
<section class="container text-center" >
  <div style="background-image: url('static/images/header.png'); height: 80vh; opacity: .8;">
    <h1 class="display-4 fw-bold align-items-center pt-3 text-white">Yoga Spot</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 pt-3 text-primary ">Welcome to the Yoga Spot. A place for everyone to learn, practice, and teach like minded yoga individuals. While you are here, take a look around and see what we offer. Dont forget to register and book a session</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 pt-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4 pt-3">Secondary</button>
      </div>
    </div>
    </div>
</section>
<section class="container px-4" height="100vh">
    <div class="px-4 pt-2 my-5 text-center border-bottom">
         <div class="row pt-6">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow rounded-0" style="height: 90vh;">
              <img class="card-img-top rounded-0" style="object-fit: cover;" height="100%" src="static/images/pro.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
        
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow rounded-0" style="height: 90vh;">
            <img class="card-img-top rounded-0" style="object-fit: cover;" height="100%" rounded-0" src="static/images/promo.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             </div>
          </div>
        
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow rounded-0" style="height: 90vh;">
            <img class="card-img-top rounded-0" style="object-fit: cover;" height="100%" src="static/images/prom.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        
        </div>



      </div>
</section>